<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <title>
    {{ if .IsHome }}
    {{ .Site.Title }}
    {{ else }}
    {{ .Site.Title }} | {{ .Title }}
    {{ end }}
  </title>
  <link rel="stylesheet" href="/css/main.css">

  <link rel="icon" type="image/png" href="/cat.png">
</head>

<body data-theme="neko">
  <nav>
    <a href="/"><strong>Home</strong></a> | <a href="/post/">Archive</a>
  </nav>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
</body>

</html>