<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{ if .IsHome }}
    {{ .Site.Title }}
    {{ else }}
    {{ .Site.Title }} | {{ .Title }}
    {{ end }}
  </title>
  <link rel="stylesheet" href="/css/main.css">

  <link rel="icon" type="image/png" href="/cat.png">
</head>

<body data-theme="neko">
  <div class="container">
    <nav>
      {{ range .Site.Menus.main }}
      <a href="{{ .URL }}" class="{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}active{{ end }}">
        {{ .Name }}
      </a>
      {{ end }}
    </nav>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <p>&copy; 2024 Nekomangini</p>
    </footer>
  </div>
</body>

</html>